[Unit]
Description=Cine4 Deploy Server

[Service]
Type=simple
Restart=always
RestartSec=1
User=cine
ExecStart=/usr/bin/php /home/cine/cine4/deploy/depServer.php

[Install]
WantedBy=multi-user.target
