[Unit]
Description=Cine4 DATA Server

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/php /home/cine/cine4/src/dataServer.php

[Install]
WantedBy=multi-user.target
