[Unit]
Description=Cine4 API Server

[Service]
Type=simple
Restart=always
RestartSec=1
User=cine
ExecStart=/usr/bin/php /home/cine/cine4/src/apiServer.php

[Install]
WantedBy=multi-user.target
