[Unit]
Description=Cine4 Log

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/php /home/cine/cine4/src/logServer.php

[Install]
WantedBy=multi-user.target
