/* Sidebar Styles */
 .sidebar-nav {
     list-style: none;
}
 .sidebar-nav li {
     text-indent: 20px;
     line-height: 40px;
}
 .sidebar-nav li a {
     display: block;
     font-weight: bold;
     font-size: .9em;
     color: #212529;
}
 .sidebar-nav li a:hover {
     text-decoration: none;
     color: #fff;
     background: #D7A33F;
}
 #LeftColumn {
     background: #FFD131;
}
 .sideToggle {
     display: none;
}
 .hideLeft {
     display: none;
}

/* Page Styles */

.pageContent{
/*    background-image: url("../minions.jpg");
    background-size: 100%;*/
}

 .box-shadow {
     box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .2);
}
 
.btn-primary {
    color: #bec2c6;
    background-color: #6c757d;
    border-color: #007bff;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #FFD131;
    border-color: #005cbf;
}

.btn-primary:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #0062cc;
}

.trash { color:rgb(209, 91, 71); }
.flag { color:rgb(248, 148, 6); }
.panel-body { padding:0px; }
.panel-footer .pagination { margin: 0; }
.panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
.panel-body .radio, .checkbox { display:inline-block;margin:0px; }
.panel-body input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; }