
/* Sidebar Styles */
 .sidebar-nav {
     list-style: none;
}
 .sidebar-nav li {
     text-indent: 20px;
     line-height: 40px;
}
 .sidebar-nav li a {
     display: block;
     font-weight: bold;
     font-size: .9em;
     color: #212529;
}
 .sidebar-nav li a:hover {
     text-decoration: none;
     color: #fff;
     background: #D7A33F;
}
 #LeftColumn {
     background: #FFD131;
}
 .sideToggle {
     display: none;
}
 .hideLeft {
     display: none;
}

/* Page Styles */
 .box-shadow {
     box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .2);
}
 