html, body {
     height: 100%;
}
 .sideheight {
     min-height: 80%;
}
 .main-title {
     font-family: 'Courgette', cursive;
     font-size: 50px;
     font-weight: 900;
     color: #FFD131;
     text-shadow: 1px 1px #343A40, 2px 2px #343A40, 3px 3px #343A40;
}
 .main-title:hover {
     position: relative;
     text-decoration:none;
     color: #FFD131;
     top: -3px;
     left: -3px;
     text-shadow: 1px 1px #343A40, 2px 2px #343A40, 3px 3px #343A40, 4px 4px #343A40, 5px 5px #343A40, 6px 6px #343A40;
}
/* Sidebar Styles */
 .sidebar-nav {
     list-style: none;
}
 .sidebar-nav li {
     text-indent: 20px;
     line-height: 40px;
}
 .sidebar-nav li a {
     display: block;
     font-weight: bold;
     font-size: .9em;
     color: #212529;
}
 .sidebar-nav li a:hover {
     text-decoration: none;
     color: #fff;
     background: #D7A33F;
}
 #LeftColumn {
     background: #FFD131;
}
 .sideToggle {
     display: none;
}
 .hideLeft {
     display: none;
}
/* Badges */


.badges-container{
  display: inline-block;
    text-indent: 0px;
    line-height: 0px;
   /*outline: 1px solid black; */
}

.navbar-badges-container{
    position: relative;
    top: 9px;
    height: 21px;
}

.profile-badges-container{
    font-size: 30px;
     /*outline: 1px solid black; */
}



.gold{
      color: #D4AF37;
      -webkit-text-stroke: 1px black;

}

.silver{
    color:#C0C0C0;
    -webkit-text-stroke: 1px black;

}

.bronze{
    color:#CD7F32;
    -webkit-text-stroke: 1px black;

}

.twofriends{
        color: #32a2cd;
         -webkit-text-stroke: 1px black;
     }

.fourfriends{
        color: #9ce1f1;
         -webkit-text-stroke: 1px black;

}

.sixfriends{
    font-size: 21px;
    color:lightgreen;
             -webkit-text-stroke: 1px black;

    position: relative;
    top: 2px;
}

.commentBadge{
    font-size: 8px;
    color:white;
    background-color: purple;
    position: relative;
    bottom: 3px;

}



.bigMovieBadge{
    font-size: 105px;
    position: relative;
    bottom: 25px;
}



.tooltip-inner {
      background-color:black;
      color: #FFD131;
      font-size: 10px;
      border-radius: 10px;
      padding:2px 5px;
      letter-spacing: 2px;

  }


/* Page Styles */
 .box-shadow {
     box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .2);
}
 .btn-outline-warning {
     color: #000000;
     background-color: transparent;
     background-image: none;
     border-color: #ffc107;
}
 .btn-primary {
     color: #bec2c6;
     background-color: #6c757d;
     border-color: #007bff;
}
.commentbtn {
         color: #222222;
}
 .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
     color: #000;
     background-color: #FFD131;
     border-color: #005cbf;
}
 .btn-primary:hover {
     color: #fff;
     background-color: #343a40;
     border-color: #0062cc;
}
 .alertsnap {
     z-index: 1;
     padding: 15px;
     border-radius: 4px;
     position: fixed;
     right: 0px;
     margin: 15px;
    /* Each alert has its own width */
     color: #212529;
     background-color: #FFD131;
}
.alertsnap-blue {
  background-color: #373C42;
  color: #FFFFFF;
}
